/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oranienbaum", serif;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;;
}

header nav {
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
}

.subtitle {
    font-family: "Poppins", serif;
    text-transform: uppercase;
}

.button {
    background-color: #C97324;
    color: #FBF2E9;
    padding: 0.5rem 1.25rem;
    text-transform: uppercase;
}