/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@layer components {
    .button {
        @apply uppercase bg-rust text-cream py-2 px-5;
    }
}

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oranienbaum", serif;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;;
}

header nav {
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
}

.subtitle {
    font-family: "Poppins", serif;
    text-transform: uppercase;
}

