<section class="container mx-auto p-8"> 
    {% if block.heading %}
    <h2 class="text-3xl">{{block.heading}}</h2>
    {% endif %}
    <div class="grid md:grid-cols-3 gap-5 ">
      {% for item in block.cards %}

      <div class="text-center {% if block.card-borders == true %} border-2 border-rust {% endif %} ">
        <img class="aspect-square w-full object-cover" src="{{item.image}}">
        <h4 class="py-4">{{item.title}}</h4>
        <hr class="border-rust">
        <p class="py-4">{{item.info}}</p>

        {% if item.button-link and item.button-text %}
        <a href="{{item.button-link}}" class="">{{item.button-text}}</a>

        {% endif %}
      </div>

      {% endfor %}

    </div>
  

</section>