<section class=""> 
    <div class="py-12">

      {% if block.heading %}
      <h2 class="px-10 text-4xl tracking-wide">{{block.heading}}</h2>
      {% endif %}
    
      <div class="px-20 gap-5 {% if items.size > 3 %} md:flex overflow-x-auto w-full {% else %} grid md:grid-cols-3 {% endif %} no-scroll">
      {% for item in items %}

        <div class="text-center py-6 {% if block.card-borders == true %} border-2 border-rust {% endif %} {% if items.size > 3 %} basis-[30%]  shrink-0 {% endif %}">
          <img class="aspect-square w-full object-cover border border-rust" src="{{item.image}}">
          <h4 class="py-4 text-3xl mt-4">{{item.title}}</h4>
          <hr class="border-rust">
          <p class="p-4">{{item.info}}</p>

          {% if item.button-link and item.button-text %}
          <div>
            <a href="{{item.button-link}}" class="button inline-block mb-3">{{item.button-text}}</a>
          </div>
          {% endif %}
        </div>

      {% endfor %}
      </div>
    
    </div>
</section>