<section class="grid grid-cols-2 py-20 gap-10"> 
  <div class="px-10 flex flex-col items-center">
      <h2 class="tracking-widest lg:tracking-[1rem] text-2xl lg:text-2xl uppercase font-bold">Contact Us</h2>
      <p class="max-w-[312px]">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis at dolor eum numquam est facere esse,</p>
  </div>
  <div>
    <form class="max-w-lg">
  
      <label class="uppercase pt-4 px-3" for="_name"> Name </label>
      <input class="w-full mb-2 border-2 border-pink-300 rounded-2xl bg-pink-300 focus:border-orange-400 outline-none py-1 px-3 placeholder:text-white placeholder:opacity-30 placeholder:text-sm" type="text" name="_name" id="_name" placeholder="Name" />
    
      <label class="uppercase px-3" for="_replyto"> Email </label>
      <input class="w-full mb-2 border-2 border-pink-300 rounded-2xl bg-pink-300 focus:border-orange-400 outline-none py-1 px-3 placeholder:text-white placeholder:opacity-30 placeholder:text-sm" type="email" name="_replyto" id="_replyto" placeholder="Email" />
    
      <label class="uppercase pt-4 px-3" for="message"> Message </label>
      <textarea class="w-full mb-2 border-2 border-pink-300 rounded-2xl bg-pink-300 focus:border-orange-400 outline-none py-2 px-3 placeholder:text-white placeholder:opacity-30 placeholder:text-sm resize-none" name="message" id="message" placeholder="Hey I want to learn to code..." rows="6"></textarea>
    <div class="text-right">
      <button class="bg-black text-white px-10 py-1 text-sm uppercase hover:bg-orange-400 hover:text-white rounded-full" type="submit"> Send </button>
    </div>
    </form> 
  </div>
</section>