<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{page.title}}</title>

    <!-- Google Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oranienbaum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<!-- This is our fontawesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- This is the body for the content of the page-->
<body class="bg-cream text-rust">
    <header class="relative min-h-screen flex flex-col border-rust border-b">
        <img class="absolute inset-y-0 right-0 {% if page.banner.image-width == 'full' %} w-full {% else %} w-3/5 {% endif %} h-full object-cover {% if page.banner.image-focus == 'top' %} object-top {% elsif page.banner.image-focus == 'bottom' %} object-bottom {% else %} object-center {% endif %}" src="{{page.banner.image}}" alt="{{page.banner.image-alt-text}}">
        <div class="relative flex flex-col md:flex-row md:justify-between items-center">
            <a href="/index.html" class="font-heading text-2xl px-4 text-center w-52">The Yoga Studio</a>
            <nav class="flex gap-2 font-sub text-center">
                <a href="/our-classes.html" class="w-36">Our Classes</a>
                <a href="/schedule.html" class="w-36">Schedule</a>
                <a href="/contact.html" class="w-36">Contact</a>
            </nav>
        </div>
        <div class="relative flex flex-col flex-grow justify-center">
            <hr class="border-rust max-w-[40vh]">
            <div class="ml-12 lg:ml-56 py-10">
                <p class="subtitle mb-0">{{page.banner.subtitle}}</p>
                <h1 class="text-5xl lg:text-8xl -tracking-[5%] pb-20">{{page.banner.main-heading}}</h1>
            </div>
            
        </div>

    </header>


    {% for block in page.blocks %}

        <!-- Flexibiity of using 1 block and linking back to site.data instead of page block -->
        {% if block.type == 'classes' %}
            {% assign items = site.data.classes.classes %}
            {% assign link = site.data.classes.more-than-four-link %}
        {% elsif block.type == 'testimonials' %}
            {% assign items = site.data.testimonials.cards %}
            {% assign link = site.data.testimonials.more-than-four-link %}
        <!-- keeping adding for as many types as you want -->

        {% else %}
            {% assign items = block.items %}
        {% endif %}

        {% include /blocks/{{block.id}}.html items=items link=link %}

    {% endfor %}

    {{content}}

    <footer class="bg-rust text-cream">
        <div class="flex flex-col md:flex-row md:justify-between px-10 py-10 uppercase text-sm">
        <div class="flex gap-6">
            {% for item in site.data.footer.footer-navs %}
          <div>
            <h3 class="">{{item.heading}}</h3>
            <ul class="font-light space-y-1">
                {% for link in item.links %}
              <li class="w-36"><a href="{{link.link}}" class="hover:font-bold">{{link.link-text}}</a></li>
             {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <div>
          <p class="font-heading text-right">Subscribe to our newsletter</p>
          <form class="flex flex-col">
            <label class="uppercase sr-only" for="_replyto"> Email </label>
            <input class="border-2 border-cream bg-rust focus:border-yellow-950 focus:bg-yellow-950 outline-none py-1 px-2 placeholder:text-white placeholder:opacity-30" type="email" name="_replyto" id="_replyto" placeholder="Email" />
            <div class="text-right">
                <button class="bg-cream text-rust px-5 py-1 text-sm uppercase hover:bg-yellow-950 hover:text-cream my-4" type="submit">Subscribe</button>
            </div>
            </form> 
          
        </div>
        </div>
        <hr class="border-cream">
        <div class="px-10 py-4">
            <a href="#" class="p-2 inline-block uppercase font-sub">Terms of Use</a>
        </div>
        
      </footer>

</body>

</html>